
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--lightColor);
}

ul {
  list-style-type: none;
  overflow: hidden;
}

.switch-button {
  font-size: x-small;
  float: right;
  margin: 0 5%;
}

#logo {
  margin: 15px 2%;
  border: #277BC0 solid 1px;
  border-radius: 30px;
  width: 12%;
}

#brand {
  position: absolute;
  top: 12%;
  left: 38%;
}

html {
  width: 100%;
  height: 100vh;
  background: var(--lightBg);
  --lightBtn: #277BC0;
  --lightBg: #fff;
  --lightColor: #232323;
}

html[data-theme=dark] {
  background: var(--lightBg);
  --lightBtn: #FFB200;
  --lightBg: #232323;
  --lightColor: #fff;
}

input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  width: 40px;
  height: 20px;
  background: var(--lightBtn);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  position: relative;
}

label:after {
  content: "";
  background: #fff;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 4px;
  transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 420ms;
}

input:checked + label {
  background: #FFBD07;
}

input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 420ms !important;
  transition-delay: 0 !important;
}

.topnav {
  background-color: var(--lightColor);
  text-align: center;
}
.topnav li {
  float: left;
}
.topnav li a {
  display: block;
  padding: 14px 16px;
  margin: 0 20px;
  text-decoration: none;
  color: var(--lightBtn);
}
.topnav li a:hover {
  background-color: #FFB200;
  color: #277BC0;
}
.topnav .active {
  background-color: #277BC0;
  color: #FFB200;
}
.topnav .sticky {
  background: var(--lightColor);
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
}
.topnav .sticky + .slideshow-container {
  padding-top: 60px;
}

.mySlides {
  display: none;
}

img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1200px;
  position: relative;
  margin: auto;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1.8s;
          animation-duration: 1.8s;
}

footer {
  background: var(--lightBtn);
  height: 200px;
}
footer li a {
  display: block;
  padding: 14px 16px;
  margin: 0 20px;
  text-decoration: none;
  color: var(--lightBtn);
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@media screen and (max-width: 640px) {
  #logo {
    width: 25%;
  }
  #brand {
    display: none;
  }
  .topnav a {
    float: none;
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */