$mainColor: #355764;
$secondaryColor: #5A8F7B;
$btnColor: #495C83;
$txtColor: #c1fbff;

$shadowColor1: #2E0249;
$shadowColor2: #570A57;
$shadowColor3: #A91079;
$shadowColor4: #ee46b9;


// Desctop screen size
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  overflow: hidden;
}

body {
  background: $mainColor;
  font-family: 'Poppins', sans-serif;
  color: $txtColor;
}

#logo {
  float: left;
  margin: 15px 2%;
  border: $secondaryColor solid 1px;
  border-radius: 30px;
  width: 12%;

}

.brand {
  background: none;
  line-height: 200px;
  height: 200px;
  text-align: center;

}

.brand h1 {
  display: inline-block;
  line-height: 2;
  vertical-align: middle;
 }


// Main Nav menu

.topnav {
  display: block;
  background: $secondaryColor;
  color: $txtColor;
}

.topnav ul {
  list-style-type: none;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.topnav a {
  float: left;
  padding: 14px 15px;
  text-decoration: none;
  text-align: center;
  color: $txtColor;
}

.topnav a:hover {
  background: $btnColor;
  text-shadow:
    0 0 3px $shadowColor1, 0 0 6px $shadowColor4;
}




// Slideshow



// Footer

footer {
  background: $secondaryColor;
  height: 230px;

  .social-networks {
    margin: 30px 50px;
    padding: 30px 0;
  }

  a {
    display: block;
    padding: 15px 15px;
    text-decoration: none;
    color: $txtColor;
  }

  a:hover {
    text-shadow: 0 0 3px $shadowColor3, 0 0 6px $shadowColor4;
  }


}

/* Extra small devices (phones, 600px and down) */

@media screen and (max-width: 600px) {
  #logo {
    width: 150px;
    margin-left: auto;
    margin-right: auto;
  }

  #brand {
    display: none;
  }

  .nav a {
    text-align: center;
    float: right;
    width: 100%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #logo {
    display: block;
    width: 170px;

  }

  .nav>a {
    float: none;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}