$mainColor: #355764;
$secondaryColor: #5A8F7B;
$btnColor: #495C83;
$txtColor: #c1fbff;

$shadowColor1: #2E0249;
$shadowColor2: #570A57;
$shadowColor3: #A91079;
$shadowColor4: #ee46b9;


// Desctop screen size
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: $mainColor;
  font-family: 'Poppins', sans-serif;
  color: $txtColor;
}

ul {
  list-style-type: none;
  overflow: hidden;
}

#logo {
  margin: 15px 2%;
  border: $secondaryColor solid 1px;
  border-radius: 30px;
  width: 12%;
}

#brand {
  font-size: 4.5em;
  ;
  position: absolute;
  top: 12%;
  left: 32%;

}


// Main Nav menu

.nav {
  background: $secondaryColor;
  color: $txtColor;
}

.nav a {
  width: 11%;
  float: left;
  padding: 14px 15px;
  text-decoration: none;
  text-align: center;
  font-size: 1.3em;
  color: $txtColor;
}

.nav a:hover {
  background: $btnColor;
  font-size: 1.4em;
  text-shadow:
    0 0 3px $shadowColor1, 0 0 6px $shadowColor4;
}




// Slideshow



// Footer

footer {
  background: $secondaryColor;
  height: 230px;

  .social-networks {
    float: right;
    margin: 20px 100px;
  }

  h3 {
    padding: 10px 0;
  }

  a {
    display: block;
    padding: 10px 16px;
    text-decoration: none;
    color: $txtColor;
  }

  a:hover {
    text-shadow: 0 0 3px $shadowColor3, 0 0 6px $shadowColor4;
  }


}

// Mobile screen size

@media screen and (max-width: 640px) {
  #logo {
    display: block;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
  }

  #brand {
    display: none;
  }

  .nav a {
    text-align: center;
    float:right;
    width: 100%;
  }
  .nav a:hover {
    border: 1px solid $txtColor;
  }

}