@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,900&display=swap');

// Desctop screen size
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--lightColor);
}

.switch-button {
  font-size: x-small;
  float: right;
  margin: 0 5%;
}

#logo {
  margin: 15px 2%;
  border: #277BC0 solid 1px;
  border-radius: 30px;
  width: 12%;
}

#brand {
  position: absolute;
  top: 12%;
  left: 38%;

}

// Dark - Light mode

html {
  width: 100%;
  height: 100vh;
  background: var(--lightBg);

  --lightBtn: #277BC0;
  --lightBg: #fff;
  --lightColor: #232323;
}

html[data-theme='dark'] {
  background: var(--lightBg);
  --lightBtn: #FFB200;
  --lightBg: #232323;
  --lightColor: #fff;
}

input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  width: 40px;
  height: 20px;
  background: var(--lightBtn);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  position: relative;
}

label:after {
  content: '';
  background: #fff;
  width: 10px;
  height: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 4px;
  transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 420ms;
}

input:checked+label {
  background: #FFBD07;
}

input:checked+label:after {
  left: calc(100% - 5px);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 420ms !important;
  transition-delay: 0 !important;
}

// Main Nav menu

.topnav {
  background-color: var(--lightColor);
  text-align: center;

  ul {
    list-style-type: none;
    overflow: hidden;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    padding: 14px 16px;
    margin: 0 20px;
    text-decoration: none;
    color: var(--lightBtn);
  }

  li a:hover {
    background-color: #FFB200;
    color: #277BC0;
  }

  .active {
    background-color: #277BC0;
    color: #FFB200;
  }

  .sticky { // Fixed navmenu by Javascript
    background: var(--lightColor);
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
  }

  .sticky + .slideshow-container {
    padding-top: 60px;
  }
}

// Slideshow

.mySlides {
  display: none;
}

img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1200px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: var(--lightBtn);
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

// /* Number text (1/3 etc) */
// .numbertext {
//   color: var(--lightBtn);
//   font-size: 12px;
//   padding: 8px 12px;
//   position: absolute;
//   top: 0;
// }

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.8s;
}

// Footer

footer {
  background: var(--lightBtn);
  height: 200px;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

// Mobile screen size

@media screen and (max-width: 640px) {
  #logo {
    width: 25%;
  }

  #brand {
    display: none;
  }

  .topnav a {
    float: none;
    width: 100%;
  }

}