@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,900&display=swap');

// Desctop screen size
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--lightColor);
}

.switch-button {
  font-size: x-small;
  float: right;
  margin: 0 5%;
}

#logo {
  margin: 15px 2%;
  border: #277BC0 solid 1px;
  border-radius: 30px;
  width: 12%;
}

#brand {
  position: absolute;
  top: 12%;
  left: 38%;

}

// Dark - Light mode

html {
  width: 100%;
  height: 100vh;
  background: var(--lightBg);

  --lightBtn: #277BC0;
  --lightBg: #fff;
  --lightColor: #232323;
}

html[data-theme='dark'] {
  background: var(--lightBg);
  --lightBtn: #FFB200;
  --lightBg: #232323;
  --lightColor: #fff;
}

input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  width: 40px;
  height: 20px;
  background: var(--lightBtn);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  position: relative;
}

label:after {
  content: '';
  background: #fff;
  width: 10px;
  height: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 4px;
  transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 420ms;
}

input:checked+label {
  background: #FFBD07;
}

input:checked+label:after {
  left: calc(100% - 5px);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 420ms !important;
  transition-delay: 0 !important;
}

nav {
  overflow: hidden;
  background-color: var(--lightColor);
  list-style-type: none;
  text-align: center;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #232323;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
   }

  li {
    float: left;
  }

  li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    margin: 0 20px;
    text-decoration: none;
    color: var(--lightBtn);
  }
  li a:hover {
    background-color: #FFB200;
    color: #277BC0;
  }
  
  .active {
    background-color: #277BC0;
    color: #FFB200;
  }
}

// Mobile screen size




@media screen and (max-width: 640px) {
  #logo {
    width: 25%;
  }

  #brand {
    display: none;
  }

  .topnav a {
    float: none;
    width: 100%;
  }

}