body {
  background-color: white;
  height: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
}
/* Desktop Header */
header {
  background-color: whitesmoke;
}

/* Header logo image */

header > div > img {
  width: 9%;
  padding-left: 30px;
}

